body {
  font-family: 'Roboto', sans-serif;
  background-color: #424950;
}

h1 {
  text-align: center;
  font-size: 52px;
  color: #FFFFF2;
}

#listDisplay {
  margin-top: 45px;
  left: 80px;
  top: 10%;
  width: 100%;
}

#navbarNav {
  max-width: 100px;
}

#main-container {
  padding-top: 1.5rem;
}


ul {
  padding: 0;
  position: relative;
  z-index: 1;
  white-space: nowrap;
  width: 200px;
}

li {
  position: relative;
  list-style-type: none;
  padding: 15px 0 2px 0;
  border-bottom: none;
}

p {
  text-align: center;
  color: white;
}

#inputs {
  position: relative;
  margin: auto;
  width: 100%;
  height: 100;
  object-position: center;
}

.logo {
  width: 30px;
  height: 30px;
  margin-right: 20px;
}

.logoLarge {
  width: 80%;
  height: auto;
  align-items: center;
}

#btns {
  display: block;
  margin: auto;
  padding: 10px;
  width: 100%;
  text-align: center;
  border-radius: 8px;
}

#display {
  display: inline-block;
  width: 100%;
  padding: 10px;
  padding-left: 20px;
  margin-top: 0px;
  background-color: #7b7b7f;
  border-radius: 15px;
  font-size: 24px;
  color: rgb(21, 116, 71);
}

#pickedTitle {
  font-size: 24px;
  letter-spacing: 0.7px;
  color: #ffffff;
  font-weight: lighter;
  color: #FFFFF2;
}

#pickedDisplay {
  text-align: center;
}

input[type='button'] {
  display: inline-block;
  border: solid 1px #ccc;
  border-radius: 35px;
  width: 175px;
  height: 35px;
  margin: 5px 0;
  border: none;
  font-size: 14px;
  letter-spacing: 0.6px;
}

input[type='button']:focus {
  outline: none;
}

input[type='button']:hover {
  transform: translateY(-2px);
}

input[type='button']:active {
  transform: translateY(1px);
  outline: none;
}

#names {
  display: block;
  height: 30px;
  width: 100%;
  padding-left: 20px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 40px;
  font-size: 14px;
  outline: none;
}

#nameTitle {
  text-align: center;
  font-size: 22px;
  letter-spacing: 1px;
  margin-bottom: 20px;
  color: #FFFFF2;
}

.deleteThis {
  display: inline-block;
  cursor: pointer;
  width: 30px;
  height: 100%;
  text-align: center;
  margin-right: 10px;
  background: transparent;
  border: none;
  color: #da0000;
}

.displayNone {
  display: none;
}

span {
  display: inline-block;
}

.name {
  display: inline;
  color: #FFFFF2;
}

.name:focus {
  outline: none;
}

#winners {
  margin-top: 45px;
  left: 80px;
  top: 10%;
  width: 100%;
}

#rank {
  color: yellow;
  padding-right: 10px;
}

.display-3 {
  font-family: 'Source Sans Pro', sans-serif;
}

.headerText {
  font-family: 'Shrikhand', cursive;
  font-size: 2.5rem;
}
